*{
    margin:0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  body{
    background-image: url(./images/backgraund.png);
  }

  header{
    background-color:white;
  }

  header img{
    width: 80%; 
  }

  header ul{
    list-style: none;
  }

  main{
    background-color:  #f5a0a0;
    margin: 3%;
    padding: 20px;
  }

  #cards{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  #cards img{
    height: 200px;
  }

  #quieneSomos{
    background-color: white;
    text-align: justify;
    padding: 20px;
  }

  footer{
    padding: 10px 10px 0 10px;
    background-color:rgb(36, 37, 41);
    color:white;
    margin-bottom:0px;
  }